{% extends "index.html" %} {% block content %}

<div class="container details">
  <div class="img"><img src="{{video["img"]}}" alt="image" /></div>
  <div class="info ms-5 my-auto">
    <h1>{{video["title"]}}</h1>
    <h5>Description:</h5>
    <p>{{video["desc"]}}</p>
  </div>
</div>
<div class="options mt-5 mx-auto mb-5">
  <table class="table table-dark text-center">
    <thead>
      <tr>
        <th scope="col">Mime Type</th>
        <th scope="col">Resolution</th>
        <th scope="col">Size</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      {% for s in video["streams"] %}
      <tr>
        <td>{{s["mime_type"]}}</td>
        <td>{{s["res"]}}</td>
        <td>{{s["size"]}} MB</td>
        <td><a href="/download/{{s["itag"]}}"><i class="fas fa-download dwn"></i></a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}
