<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename= 'css/style.css') }}"
    />
    <title>Youtube Video Downloader</title>
  </head>
  <body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-danger sticky-top">
      <div class="container">
        <a class="navbar-brand text-white" href="#">YT Downloader</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a
                class="nav-link text-white"
                href="https://www.youtube.com/"
                target="_blank"
                >Open Youtube</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <section id="main">
      <div class="glass mt-5">
        <div class="contents">
          <div class="txt">
            <h1 class="text-white">Download Youtube Videos for free!</h1>
          </div>
          <div class="form">
            <form action="view" method="post">
              <div class="form-floating mb-3">
                <input
                  type="text"
                  class="form-control"
                  id="floatingInput"
                  placeholder="URL"
                  name="url"
                />
                <label for="floatingInput">Enter URL here...</label>
              </div>
              <button class="btn btn-outline-danger" type="submit">
                Check
              </button>
            </form>
          </div>
        </div>
      </div>
      <div class="mt-5">{% block content %}{% endblock %}</div>
    </section>

    <!-- Footer -->
    <footer id="footer">
      <div class="text-center">
        <a href="https://github.com/mdyasar" target="_blank" class="ms-2"
          ><i class="fab fa-github"></i
        ></a>
        <a
          href="https://www.linkedin.com/in/mohd-yasar-2a75931b5/"
          target="_blank"
          class="ms-2"
          ><i class="fab fa-linkedin-in"></i
        ></a>
        <a
          href="https://www.facebook.com/profile.php?id=100006861108950"
          target="_blank"
          class="ms-2"
          ><i class="fab fa-facebook-f"></i
        ></a>
      </div>
      <div class="footer-bottom text-center mb-1">
        Designed and Developed by <em>Mohd Yasar</em>
      </div>
    </footer>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
